<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- <app-todo-form></app-todo-form> -->
             <app-std-form></app-std-form>
        </div>
        <div class="col-md-8">
            <!-- <app-todo-list></app-todo-list> -->
             <app-std-table></app-std-table>
        </div> 
    </div>



    <!-- <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
           <div class="col-md-8 offset-2">
                <div class="form-group">
                    <input type="text" #userName class="form-control">
                </div>
                <div>
                    <button
                    (click)="onUsernameChange()"
                    class="btn btn-block btn-outline-primary">Get Username</button>
                </div>
             </div>
    </div> -->
    <!-- <div class="row mt-4" >
        <div class="col-md-4">
            <app-one></app-one>
        </div>
        <div class="col-md-4">
            <app-two></app-two>
        </div>
        <div class="col-md-4">
            <app-three></app-three>
        </div>
    </div> -->
</div>

<!-- <app-loader></app-loader> -->